.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
}

.title-container {
  margin-bottom: 20px; /* Space between the title and form/button area */
}

.form-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  gap: 20px; /* Space between the form and button */
}

.my-wallet-form {
  flex: 3; /* Give MyWalletForm 3x the space */
  width: 100%;
}

.connect-button {
  flex: 1; /* Give ConnectButton 1x the space */
  max-width: 200px;
}
